<!--<div class="row">-->
<!--  <div class="col-xs-12">-->
<!--    <p>Add new Servers or blueprints!</p>-->
<!--    <label for="serverName">Server Name</label>-->
<!--    &lt;!&ndash;    <input id="serverName" type="text" class="form-control" [(ngModel)]="newServerName">&ndash;&gt;-->
<!--    <input id="serverName"-->
<!--           type="text"-->
<!--           class="form-control"-->
<!--           #serverNameInput>-->
<!--    <label for="serverBlueprints">Server Content</label>-->
<!--    <input id="serverBlueprints" type="text" class="form-control" [(ngModel)]="newServerContent">-->
<!--&lt;!&ndash;    <input id="serverBlueprints"&ndash;&gt;-->
<!--&lt;!&ndash;           type="text"&ndash;&gt;-->
<!--&lt;!&ndash;           class="form-control"&ndash;&gt;-->
<!--&lt;!&ndash;           #serverContentInput>&ndash;&gt;-->
<!--    <br>-->
<!--    <button-->
<!--      class="btn btn-primary"-->
<!--      (click)="onAddServer(serverNameInput)">Add Server-->
<!--    </button>-->
<!--    <button-->
<!--      class="btn btn-primary"-->
<!--      (click)="onAddBlueprint(serverNameInput)">Add Server Blueprint-->
<!--    </button>-->
<!--  </div>-->
<!--</div>-->
